{% extends "main.html" %}
{% block content %}
<h1>Каталог товаров</h1>
<div class="product-grid">
    <ul>
    {% for product in products %}
        <li class="product-item">
            <span class="product-info">{{ product.name }} - {{ product.price }} руб.</span>
            <a href="{% url 'delivery-product' product.id %}">Подробнее...</a>
            {% if product.is_available %}
            <form action="{% url 'update_cart' product.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" name="action" value="increment" class="add-to-cart">Добавить в корзину</button>
            </form>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
<br>
<h4><a href="/">На главную</a></h4>
{% endblock content %}