{% extends "delivery/main.html" %}
{% block content %}

<div class="products">
        {% for product in products %}
            <div class="product">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>
                <p>Цена: {{ product.price }} р.</p>
                <form action="{% url 'add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">В корзину</button>
                </form>
            </div>
        {% endfor %}
    </div>


{% endblock content %}