{% extends "delivery/main.html" %}
{% block content %}

<div class="products">
    <div class="row">
        {% if product_items %}
            {% for item in product_items %}
            <div class="product col-4">
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                <h4>{{ item.product.name }}</h4>
                <p>Цена: {{ item.product.price }} р.</p>

                {% if item.quantity > 0 %}
                    <div class="cart-count">
                        <form action="{% url 'update_cart' item.product.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" name="action" value="decrement">-</button>
                            <span style="display: inline-block; width: 50px; text-align: center;">{{ item.quantity }}</span>
                            <button type="submit" name="action" value="increment">+</button>
                        </form>
                    </div>
                {% else %}
                    <form action="{% url 'add_to_cart' item.product.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">В корзину</button>
                    </form>
                {% endif %}
            </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        {% else %}
            <li>Заполните справочник товаров</li>
        {% endif %}
    </div>
</div>

{% endblock content %}