{% extends "main.html" %}
{% block content %}

<div class="container">

    <h4>{{ message }}</h4>


    <div class="order-details">
        <h2>Детали заказа</h2>
        <p>Номер заказа: <strong>{{ order.number }}</strong></p>
        <p>Получатель: <strong>{{ order.customer_name }}</strong></p>
        <p>Город: <strong>{{ order.city.name}}</strong></p>
        <p>Адрес: <strong>{{ order.address }}</strong></p>
        <p>Дата доставки: <strong>{{ order.delivery_date }}</strong></p>
        <p>Сумма заказа: <strong>{{ order.total_price }} ₽</strong></p>
        <p>Статус заказа:
            <strong>
                {% if order.is_confirmed %}Подтвержден
                {% elif order.is_new %}Новый
                {% endif %}
            </strong>
        </p>
    </div>

    <h3> Спасибо за заказ!</h3>
    <br><br><br>
    <a href="/" class="button">Перейти на главную</a>
</div>
{% endblock content %}