<!DOCTYPE html>
{% load static %}
<html>
<head>

    <!-- Обязательные мета-теги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap, иконки и шрифт -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900'
          rel='stylesheet' type='text/css'>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Доставка воды</title>
    {% endif %}

    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Устанавливаем минимальную высоту на 100% высоты экрана */
            margin: 0;
        }
        .content {
            flex: 1; /* Позволяет контенту занимать оставшееся место */
            padding-top: 60px; /* Отступ для основного содержимого (высота навигационной панели) */
        }
        footer {
            background: #f8f9fa;
            text-align: center;
            padding: 10px 0; /* Отступы для footer */
        }
    </style>

</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'delivery-home' %}"><i class='bx bxs-home bx-tada-hover'></i>
                Доставка воды</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'delivery-catalog' %}">Каталог</a>
                    <a class="nav-item nav-link" href="{% url 'delivery-about' %}">О нас</a>
                </div>
                <!-- Часть навигационной панели для авторизованных пользователей-->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'delivery-orders' %}">Мои Заказы</a>
                        {% if user.profile.is_manager %}
                            <a class="nav-item nav-link" href="{% url 'delivery-manager' %}">| Заказы (Manager) |</a>
                        {% endif %}
                        {% if user.profile.is_courier %}
                            <a class="nav-item nav-link" href="{% url 'delivery-courier' %}">| Заказы (Courier) |</a>
                        {% endif %}
                    {% endif %}
                </div>
                <!-- Правая часть навигационной панели -->
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'cart_view' %}">
                        Корзина (<span id="cart-count">{{ cart_items_count }}</span>)
                    </a>
                    {% if user.is_authenticated %}
                    <p style=" font-weight: bold; color: #fff;">{{user.username}}</p>
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Профиль</a>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Выйти</button>
                    </form>
                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Вход</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Регистрация</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="content container-fluid">
    <div class="row">
        <div class="col-12 col-md-8">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>

        {% if not title or title == "Доставка воды" or title == "Информация" or title == "Оформление заказа" %}  <!-- Условие, которое проверяет заголовок страницы -->
        <div class="col-12 col-md-4">
            <div class="content-section">
                <h3>График доставки:</h3>
                <p>Доставка заявок осуществляется с понедельника по субботу во второй половине дня. </p>
                <strong>В воскресенье доставки нет! </strong>
                <br><br>

                <p>Заявки, сделанные с 08.00 до 10.00 исполняются в этот же день. <br></p>
                <p>Заявки, сделанные после указанного времени — на следующий день. <br></p>
                <p>Заявки на субботу - принимаются в пятницу.</p>
            </div>
        </div>
        {% endif %}
    </div>

</main>

<footer class="text-center bg-grey">
    <h5><a href="{% url 'delivery-home' %}">© Доставка воды 2024 (Django)</a></h5>
</footer>

<!-- Дополнительные скрипты JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>