{% extends "main.html" %}
{% block content %}
{% if message %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endif %}
 <h1>Для входа введите email и пароль</h1>
    <form action="/user/login" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Войти</button>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Нет аккаунта? <a class="ml-2" href="/user/register">Регистрация</a>
        </small>
    </div>

{% endblock content %}