{% extends "main.html" %}
{% block content %}
<h1>Каталог товаров</h1>
<div class="product-grid">
    <ul>
    {% for product in products %}
        <li class="product-item">
            <span class="product-info">{{ product.name }} - {{ product.price }} руб.</span>
            <a href="/spr/product/{{ product.id }}">Подробнее   </a>
            {% if product.is_available %}
                <button type="button" class="add-to-cart"><a href="/cart/{{ product.id }}">Заказать</a></button>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
<br>
<h4><a href="/">На главную</a></h4>
{% endblock content %}