{% extends "main.html" %}
{% block content %}

<div class="products">
    <div class="row">
        {% if products %}
            {% for product in products %}
            <div class="product col-4">
                <img src="{{ url_for('static', path=product.image) }}" alt="{{ product.name }}" class="product-image">
                <h4>{{ product.name }}</h4>
                <p>Цена: {{ product.price }} р.</p>

                    <div class="cart-count">
                        <form action="/cart/update/{{ product.id }}" method="post" style="display: inline;">>
                                <button type="submit" name="action" value="decrement">-</button>

                                <button type="submit" name="action" value="increment">+</button>
                        </form>
                        <form action="/cart/add/{{ product.id }}" method="post" style="display: inline;">
                                <button type="submit" name="action" value="add" class="add-to-cart">Заказать</button>
                        </form>
                    </div>
            </div>
            {% endfor %}
        {% else %}
            <li>Заполните справочник товаров</li>
        {% endif %}
    </div>
</div>


            <button><a class="nav-item nav-link" href="/cart/">Перейти в корзину</a></button>
            <button><a class="nav-item nav-link" href="/order">Оформить заказ</a></button>


{% endblock content %}